---
import Layout from "@/layouts/Layout.astro";
import { Content as Privacy } from "./privacy.md";
---

<Layout
  noBackground
  title="Privacy policy"
  description="Qasten privacy policy"
>
  <main class="prose mx-auto mt-24 max-w-6xl">
    <Privacy />
  </main>
</Layout>
