---
import Layout from "@/layouts/BlogLayout.astro";
import net from "@/assets/net.jpg";
import { type Metadata } from "@/utils/blog";

export const metadata: Metadata = {
  title: "Introducing Qasten",
  summary:
    "Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore vero praesentium, ducimus sunt culpa a iste id vitae ad autem quam",
  date: new Date("May 1, 2025"),
  lengthMinutes: 5,
  author: "Farouk Faiz",
  image: {
    src: net,
    alt: "Placeholder",
  },
};
---

<Layout metadata={metadata}>
  <p class="mt-8">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore vero
    praesentium, ducimus sunt culpa a iste id vitae ad autem quam excepturi
    sapiente ratione? Obcaecati fugiat a ut sunt distinctio!
  </p>

  <p class="mt-8">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore vero
    praesentium, ducimus sunt culpa a iste id vitae ad autem quam excepturi
    sapiente ratione? Obcaecati fugiat a ut sunt distinctio! Lorem ipsum dolor
    sit amet consectetur adipisicing elit. Tempore vero praesentium, ducimus
    sunt culpa a iste id vitae ad autem quam excepturi sapiente ratione?
    Obcaecati fugiat a ut sunt distinctio!
  </p>

  <p class="mt-8">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore vero
    praesentium, ducimus sunt culpa a iste id vitae ad autem quam excepturi
    sapiente ratione? Obcaecati fugiat a ut sunt distinctio!
  </p>

  <p class="mt-8">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore vero
    praesentium, ducimus sunt culpa a iste id vitae ad autem quam excepturi
    sapiente ratione? Obcaecati fugiat a ut sunt distinctio! Lorem ipsum dolor
    sit amet consectetur adipisicing elit. Tempore vero praesentium, ducimus
    sunt culpa a iste id vitae ad autem quam excepturi sapiente ratione?
    Obcaecati fugiat a ut sunt distinctio! Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Tempore vero praesentium, ducimus sunt culpa a
    iste id vitae ad autem quam excepturi sapiente ratione? Obcaecati fugiat a
    ut sunt distinctio! Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Tempore vero praesentium, ducimus sunt culpa a iste id vitae ad autem quam
    excepturi sapiente ratione? Obcaecati fugiat a ut sunt distinctio!
  </p>

  <p class="mt-8">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore vero
    praesentium, ducimus sunt culpa a iste id vitae ad autem quam excepturi
    sapiente ratione? Obcaecati fugiat a ut sunt distinctio!
  </p>
</Layout>
