---
import Layout from "@/layouts/BlogLayout.astro";
import { type Metadata } from ".";

export const metadata: Metadata = {
  title: "Third post",
  summary: "Short summary",
  lengthMinutes: 5,
  date: new Date("July 1, 2025"),
  author: "",
};
---

<Layout metadata={metadata}>
  <p></p>
</Layout>
