---
import Layout from "@/layouts/BlogLayout.astro";
import camera from "@/assets/camera.jpg";

import { type Metadata } from "@/utils/blog";

export const metadata: Metadata = {
  title: "Third post",
  summary: "Short summary",
  lengthMinutes: 5,
  date: new Date("July 1, 2025"),
  author: "",
  image: {
    src: camera,
    alt: "Placeholder",
  },
};
---

<Layout metadata={metadata}>
  <p></p>
</Layout>
