---
import Layout from "@/layouts/Layout.astro";
---

<!-- Generated on www.documentslegaux.fr -->
<Layout
  noBackground
  title="Privacy policy"
  description="Politique de confidentialité de Qasten"
>
  <main class="mx-auto mt-24 max-w-6xl">
    <div>
      <div>
        <div data-exp="simple2">
          <div>
            <p>
              <br /><br /><strong>POLITIQUE DE CONFIDENTIALIT&Eacute;</strong
              ><br /><br /><br /><strong>www.qasten.com</strong><br />Qasten<br
              />
            </p>
          </div>
          <div>
            <p>
              <strong
                ><u
                  >Le but de cette politique de confidentialit&eacute;
                </u></strong
              ><br /><br />Le but de cette politique de confidentialit&eacute;
              est d'informer les utilisateurs de notre site des donn&eacute;es
              personnelles que nous recueillons ainsi que des informations
              suivantes, le cas &eacute;ch&eacute;ant :
            </p>
            <ol class="list-decimal py-4 pl-12" start="1">
              <li value="1">
                Les donn&eacute;es personnelles que nous recueillerons
              </li>
              <li value="2">
                L&rsquo;utilisation des donn&eacute;es recueillies
              </li>
              <li value="3">
                Qui a acc&egrave;s aux donn&eacute;es recueillies
              </li>
              <li value="4">Les droits des utilisateurs du site</li>
              <li value="5">La politique de cookies du site</li>
            </ol>
            <p>
              Cette politique de confidentialit&eacute; s'applique en
              compl&eacute;ment des conditions g&eacute;n&eacute;rales
              d&rsquo;utilisation de notre site.
            </p>
          </div>
          <div>
            <p><strong><u>Lois applicables</u></strong></p>
            <p>
              Conform&eacute;ment au <em
                >R&egrave;glement g&eacute;n&eacute;ral sur la protection des
                donn&eacute;es</em
              > (RGPD), cette politique de confidentialit&eacute; est conforme aux
              normes suivantes.<br /><br />Les donn&eacute;es &agrave;
              caract&egrave;re personnel doivent &ecirc;tre :
            </p>
            <ol class="list-decimal py-4 pl-12" start="1">
              <li value="1">
                trait&eacute;es de mani&egrave;re licite, loyale et transparente
                au regard de la personne concern&eacute;e
                (lic&eacute;it&eacute;, loyaut&eacute;, transparence) ;
              </li>
              <li value="2">
                collect&eacute;es pour des finalit&eacute;s
                d&eacute;termin&eacute;es, explicites et l&eacute;gitimes, et ne
                pas &ecirc;tre trait&eacute;es ult&eacute;rieurement d'une
                mani&egrave;re incompatible avec ces finalit&eacute;s; le
                traitement ult&eacute;rieur &agrave; des fins archivistiques
                dans l'int&eacute;r&ecirc;t public, &agrave; des fins de
                recherche scientifique ou historique ou &agrave; des fins
                statistiques n'est pas consid&eacute;r&eacute;,
                conform&eacute;ment &agrave; l'article 89, paragraphe 1, comme
                incompatible avec les finalit&eacute;s initiales (limitation des
                finalit&eacute;s) ;
              </li>
              <li value="3">
                ad&eacute;quates, pertinentes et limit&eacute;es &agrave; ce qui
                est n&eacute;cessaire au regard des finalit&eacute;s pour
                lesquelles elles sont trait&eacute;es (minimisation des
                donn&eacute;es) ;
              </li>
              <li value="4">
                exactes et, si n&eacute;cessaire, tenues &agrave; jour; toutes
                les mesures raisonnables doivent &ecirc;tre prises pour que les
                donn&eacute;es &agrave; caract&egrave;re personnel qui sont
                inexactes, eu &eacute;gard aux finalit&eacute;s pour lesquelles
                elles sont trait&eacute;es, soient effac&eacute;es ou
                rectifi&eacute;es sans tarder (exactitude) ;
              </li>
              <li value="5">
                conserv&eacute;es sous une forme permettant l'identification des
                personnes concern&eacute;es pendant une dur&eacute;e
                n'exc&eacute;dant pas celle n&eacute;cessaire au regard des
                finalit&eacute;s pour lesquelles elles sont trait&eacute;es; les
                donn&eacute;es &agrave; caract&egrave;re personnel peuvent
                &ecirc;tre conserv&eacute;es pour des dur&eacute;es plus longues
                dans la mesure o&ugrave; elles seront trait&eacute;es
                exclusivement &agrave; des fins archivistiques dans
                l'int&eacute;r&ecirc;t public, &agrave; des fins de recherche
                scientifique ou historique ou &agrave; des fins statistiques
                conform&eacute;ment &agrave; l'article 89, paragraphe 1, pour
                autant que soient mises en &oelig;uvre les mesures techniques et
                organisationnelles appropri&eacute;es requises par le
                r&egrave;glement afin de garantir les droits et libert&eacute;s
                de la personne concern&eacute;e (limitation de la conservation)
                ;
              </li>
              <li value="6">
                trait&eacute;es de fa&ccedil;on &agrave; garantir une
                s&eacute;curit&eacute; appropri&eacute;e des donn&eacute;es
                &agrave; caract&egrave;re personnel, y compris la protection
                contre le traitement non autoris&eacute; ou illicite et contre
                la perte, la destruction ou les d&eacute;g&acirc;ts d'origine
                accidentelle, &agrave; l'aide de mesures techniques ou
                organisationnelles appropri&eacute;es (int&eacute;grit&eacute;
                et confidentialit&eacute;).<br /><br />
              </li>
            </ol>
            <p>
              Conformément à l'article 6 du RGPD, nous traitons vos données
              personnelles uniquement sur les bases légales suivantes :
            </p>
            <ol class="list-decimal py-4 pl-12" start="1">
              <li value="1">
                Communications : sur la base de votre consentement explicite
                (article 6(1)(a) RGPD). Vous pouvez retirer ce consentement à
                tout moment en utilisant le lien de désinscription présent dans
                nos emails ou en nous contactant directement.
              </li>
              <li value="2">
                Formulaire de contact : sur la base de notre intérêt légitime à
                répondre à vos demandes et à assurer le suivi de nos échanges
                (article 6(1)(f) RGPD).
              </li>
            </ol>
          </div>
          <div>
            <p>
              <strong><u>Consentement</u></strong><br /><br />Les utilisateurs
              conviennent qu&rsquo;en utilisant notre site, ils acceptent :
            </p>
            <ol class="list-decimal py-4 pl-12" start="1">
              <li value="1">
                les conditions &eacute;nonc&eacute;es dans la pr&eacute;sente
                politique de confidentialit&eacute; et
              </li>
              <li value="2">
                la collecte, l&rsquo;utilisation et la conservation des
                donn&eacute;es &eacute;num&eacute;r&eacute;es dans la
                pr&eacute;sente politique.
              </li>
            </ol>
          </div>
          <div>
            <p>
              <strong
                ><u>Donn&eacute;es personnelles que nous collectons</u></strong
              >
            </p>
            <div>
              <div>
                <p>
                  <strong
                    >Donn&eacute;es collect&eacute;es automatiquement</strong
                  >
                </p>
                <p>
                  Nous ne collectons aucune donn&eacute;e automatiquement sur
                  notre site.
                </p>
              </div>
              <div>
                <p>
                  <strong
                    >Donn&eacute;es recueillies de fa&ccedil;on non automatique</strong
                  >
                </p>
                <p>
                  Nous pouvons &eacute;galement collecter les donn&eacute;es
                  suivantes lorsque vous effectuez certaines fonctions sur notre
                  site&nbsp;: Email et Message de contact
                </p>
                <p>
                  Ces donn&eacute;es peuvent &ecirc;tre recueillies au moyen des
                  m&eacute;thodes suivantes&nbsp;:
                </p>
                <p>Formulaire</p>
              </div>
              <p>
                Veuillez noter que nous ne collectons que les donn&eacute;es qui
                nous aident &agrave; atteindre l&rsquo;objectif
                &eacute;nonc&eacute; dans cette politique de
                confidentialit&eacute;. Nous ne recueillerons pas de
                donn&eacute;es suppl&eacute;mentaires sans vous en informer au
                pr&eacute;alable.
              </p>
            </div>
          </div>
          <div>
            <p>
              <strong
                ><u>Comment nous utilisons les donn&eacute;es personnelles</u
                ></strong
              ><br /><br />Les donn&eacute;es personnelles recueillies sur notre
              site seront utilis&eacute;es uniquement aux fins
              pr&eacute;cis&eacute;es dans la pr&eacute;sente politique ou
              indiqu&eacute;es sur les pages pertinentes de notre site. Nous
              n&rsquo;utiliserons pas vos donn&eacute;es au-del&agrave; de ce
              que nous divulguerons.
            </p>
            <div>
              <p>
                Les donn&eacute;es que nous recueillons lorsque
                l&rsquo;utilisateur ex&eacute;cute certaines fonctions peuvent
                &ecirc;tre utilis&eacute;es aux fins suivantes&nbsp;:
                Communication
              </p>
            </div>
          </div>
          <div>
            <p>
              <strong
                ><u>Avec qui nous partageons les donn&eacute;es personnelles</u
                ></strong
              >
            </p>
            <div>
              <p>
                <strong>Employ&eacute;s</strong><br />Nous pouvons divulguer
                &agrave; tout membre de notre organisation les donn&eacute;es
                utilisateur dont ce membre a raisonnablement besoin pour
                r&eacute;aliser les objectifs &eacute;nonc&eacute;s dans la
                pr&eacute;sente politique.
              </p>
            </div>
            <div>
              <p>
                <strong>Tierces parties</strong><br />Les données recueillies
                via nos formulaires sont traitées par notre prestataire
                Formspark et stockées dans l'Union européenne (Irlande). <br />
                Les données de navigation (p.ex. pages visitées, provenance du trafic,
                informations techniques du navigateur) sont collectées de manière
                anonyme via notre prestataire Umami hébergé dans l'Union européenne.
                Aucune donnée personnelle ni cookie n'est utilisé.
              </p>
              <p>
                Les tiers ne seront pas en mesure d&rsquo;acc&eacute;der aux
                donn&eacute;es des utilisateurs au-del&agrave; de ce qui est
                raisonnablement n&eacute;cessaire pour atteindre
                l&rsquo;objectif donn&eacute;.
              </p>
            </div>
            <div>
              <p>
                <strong>Autres divulgations</strong><br />Nous nous engageons
                &agrave; ne pas vendre ou partager vos donn&eacute;es avec
                d'autres tiers, sauf dans les cas suivants&nbsp;:
              </p>
              <ol class="list-decimal py-4 pl-12" start="1">
                <li value="1">si la loi l'exige</li>
                <li value="2">
                  si elle est requise pour toute proc&eacute;dure judiciaire
                </li>
                <li value="3">
                  pour prouver ou prot&eacute;ger nos droits l&eacute;gaux
                </li>
                <li value="4">
                  &agrave; des acheteurs ou des acheteurs potentiels de cette
                  soci&eacute;t&eacute; dans le cas o&ugrave; nous cherchons
                  &agrave; la vendre la soci&eacute;t&eacute;
                </li>
              </ol>
              <p>
                Si vous consultez des hyperliens de notre site vers un autre
                site, veuillez noter que nous ne sommes pas responsables et
                n&rsquo;avons pas de contr&ocirc;le sur leurs politiques et
                pratiques de confidentialit&eacute;.
              </p>
            </div>
          </div>
          <div>
            <p>
              <strong
                ><u
                  >Combien de temps nous stockons les donn&eacute;es
                  personnelles</u
                ></strong
              ><br /><br />Les donn&eacute;es personnelles sont
              conserv&eacute;es aussi longtemps que n&eacute;cessaire pour les
              fins pour lesquelles elles ont &eacute;t&eacute;
              collect&eacute;es, ou pour se conformer &agrave; nos obligations
              l&eacute;gales. Une fois cette dur&eacute;e &eacute;coul&eacute;e,
              les donn&eacute;es seront supprim&eacute;es de mani&egrave;re
              s&eacute;curis&eacute;e.
            </p>
          </div>
          <div>
            <p>
              <strong
                ><u
                  >Comment nous prot&eacute;geons vos donn&eacute;es
                  personnelles</u
                ></strong
              ><br /><br />Lorsque vous vous connectez &agrave; notre site, vos
              donn&eacute;es sont transmises via une connexion
              s&eacute;curis&eacute;e (HTTPS), garantissant qu'elles sont
              prot&eacute;g&eacute;es contre toute interception ou manipulation.<br
              /><br />Bien que nous prenions toutes les pr&eacute;cautions
              raisonnables pour s&eacute;curiser les donn&eacute;es de nos
              utilisateurs et garantir leur protection, il subsiste toujours un
              certain risque. L'Internet dans son ensemble peut parfois
              pr&eacute;senter des vuln&eacute;rabilit&eacute;s, et il nous est
              donc impossible d'assurer une s&eacute;curit&eacute; absolue des
              donn&eacute;es des utilisateurs au-del&agrave; de ce qui est
              raisonnablement r&eacute;alisable.<br /><br />En cas de violation
              de la s&eacute;curit&eacute; affectant vos renseignements
              personnels, nous vous en informerons conform&eacute;ment aux
              obligations l&eacute;gales et prendrons les mesures
              n&eacute;cessaires pour en limiter les risques.
            </p>
          </div>
          <div>
            <p><strong><u>Mineurs</u></strong></p>
            <p>
              Le RGPD pr&eacute;cise que les personnes de moins de 15 ans sont
              consid&eacute;r&eacute;es comme des mineurs aux fins de la
              collecte de donn&eacute;es. Les mineurs doivent avoir le
              consentement d&rsquo;un repr&eacute;sentant l&eacute;gal pour que
              leurs donn&eacute;es soient recueillies, trait&eacute;es et
              utilis&eacute;es.
            </p>
          </div>
          <div>
            <p>
              <strong><u>Vos droits en tant qu&rsquo;utilisateur</u></strong>
            </p>
            <div>
              <p>
                En vertu du RGPD, les utilisateurs ont les droits suivants sur
                leurs donn&eacute;es en tant que personnes concern&eacute;es :
              </p>
              <ol class="list-decimal py-4 pl-12" start="1">
                <li value="1">droit d&rsquo;acc&egrave;s</li>
                <li value="2">droit de rectification</li>
                <li value="3">droit &agrave; l&rsquo;effacement</li>
                <li value="4">droit de restreindre le traitement</li>
                <li value="5">
                  droit &agrave; la portabilit&eacute; des donn&eacute;es
                </li>
                <li value="6">droit d'objection</li>
              </ol>
              <p>
                Les utilisateurs ont également le droit d'introduire une
                réclamation auprès de la <a href="www.cnil.fr">CNIL</a>.
              </p>
              <p>
                Vous trouverez de plus amples informations sur ces droits au
                chapitre 3 (article 12-23) du RGPD.
              </p>
            </div>
          </div>

          <div>
            <p>
              <strong><u>Politique de cookies</u></strong>
            </p>
            <div>
              <p>
                Notre site n'utilise que des cookies strictement nécessaires à
                son fonctionnement et ne recourt pas à des cookies de suivi ou
                publicitaires.
              </p>
            </div>
          </div>

          <div>
            <p>
              <strong
                ><u
                  >Comment modifier, supprimer ou contester les donn&eacute;es
                  recueillies</u
                ></strong
              ><br /><br />Si vous souhaitez que vos renseignements soient
              supprim&eacute;s ou modifi&eacute;s d&rsquo;une fa&ccedil;on ou
              d&rsquo;une autre, veuillez communiquer avec notre agent de
              protection des donn&eacute;es personnelles ici :
            </p>
            <p>
              Farouk Faiz<br />______________________________<br
              />contact@qasten.com<br />______________________________
            </p>
          </div>
          <div>
            <p><strong><u>Modifications</u></strong></p>
            <p>
              Cette politique de confidentialit&eacute; peut &ecirc;tre
              modifi&eacute;e &agrave; de temps &agrave; autre afin de maintenir
              la conformit&eacute; avec la loi et de tenir compte de tout
              changement &agrave; notre processus de collecte de donn&eacute;es.
              Nous recommandons &agrave; nos utilisateurs de v&eacute;rifier
              notre politique de confidentialit&eacute; de temps &agrave; autre
              pour s&rsquo;assurer qu&rsquo;ils soient inform&eacute;s de toute
              mise &agrave; jour. Au besoin, nous pouvons informer les
              utilisateurs par courriel des changements apport&eacute;s &agrave;
              cette politique.
            </p>
          </div>
          <div>
            <p><strong><u>Contact</u></strong></p>
            <p>
              Si vous avez des questions &agrave; nous poser,
              n&rsquo;h&eacute;sitez pas &agrave; communiquer avec nous en
              utilisant ce qui suit&nbsp;:<br
              />______________________________<br />contact@qasten.com<br
              />______________________________
            </p>
          </div>
          <p>
            <br /><em
              >Date d&rsquo;entr&eacute;e en vigueur de la pr&eacute;sente
              politique&nbsp;:
            </em>le 24 ao&ucirc;t 2025
          </p>
        </div>
      </div>
    </div>
  </main></Layout
>
