---
const opacities = [
  15, 15, 5, 10, 5, 10, 15, 10, 10, 5, 10, 10, 5, 15, 10, 5, 10, 10, 15, 5, 10,
  10, 10,
];
const opacitiesClasses = opacities.map((opacity) => {
  switch (opacity) {
    case 5:
      return "opacity-5";
    case 10:
      return "opacity-10";
    default:
      return "opacity-15";
  }
});
---

<div
  class="pointer-events-none fixed -z-3 grid h-full w-screen grid-cols-12 grid-rows-1 opacity-60 md:grid-cols-23"
>
  {
    opacitiesClasses.map((opacityClass) => (
      <div
        class={`w-px justify-self-center bg-linear-to-b from-white from-10% via-black to-white to-90% ${opacityClass}`}
      />
    ))
  }
</div>
