---
import { Icon } from "astro-icon/components";

type FAQ = {
  question: string;
  answer: string;
}[];

const { faq } = Astro.props as { faq: FAQ };
---

<div class="divide-border/50 divide-y">
  {
    faq.map(({ question, answer }) => (
      <details class="group">
        <summary class="flex cursor-pointer items-center justify-between py-6 text-base font-medium sm:text-lg">
          {question}
          <Icon
            name="mdi:keyboard-arrow-down"
            size="32"
            class="ml-2 transition-transform duration-300 group-open:rotate-180"
          />
        </summary>
        <p
          class="prose text-muted-foreground max-w-none pb-6"
          set:html={answer}
        />
      </details>
    ))
  }
</div>
