---
import Layout from "@/layouts/BlogLayout.astro";
import { type Metadata } from "@/utils/blog";
import { metadata as enMetadata } from "@/pages/blog/first-post.astro";

export const metadata: Metadata = {
  ...enMetadata,
  title: "Découvrez Qasten",
  summary:
    "French Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore vero praesentium, ducimus sunt culpa a iste id vitae ad autem quam",
};
---

<Layout metadata={metadata}>
  <p class="mt-8">
    French Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore vero
    praesentium, ducimus sunt culpa a iste id vitae ad autem quam excepturi
    sapiente ratione? Obcaecati fugiat a ut sunt distinctio!
  </p>
</Layout>
