---
import Layout from "@/layouts/BlogLayout.astro";
import { type Metadata } from "@/pages/blog";
import { metadata as enMetadata } from "@/pages/blog/fourth-post.astro";

export const metadata: Metadata = {
  ...enMetadata,
  title: "Quatrième post",
  summary: "Resumé court",
};
---

<Layout metadata={metadata}>
  <p></p>
</Layout>
